$accent: gold;
$darkaccent: #ffa500;
$textshadow: 1px 1px 8px rgba(0,0,0,0.2);
// below are max-widths
$media-wide-break: 1680px;
$media-medium-break: 1440px;
$media-tablet-break: 1024px;
$media-portrait-break: 570px;
$media-mobile-break: 320px;
